<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Online Parkovka</title>
</head>
<body>
    <h1>Mashinalar ro‘yxati</h1>
    <ul id="cars-list"></ul>

   </body>
</html>

